.cart-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-widget {
  padding: 1rem;
  color: dodgerblue;
}

@media screen and (max-width: 550px) {
  .cart-widget {
    display: none;
  }
}
