.item-list-container {
  margin: 2rem 0;
}

.item-list-container-wrapper {
  background-color: var(--theme-color);
  display: flex; /*borrar display flex*/
  flex-direction: column;
}

.borrar {
  /*borrar*/
  display: flex;
  justify-content: center;
  margin: 1rem;
}
