.nav-container-flex {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 70px;
  background-color: var(--theme-color);
  z-index: 20;
}

nav ul {
  padding: 1.5rem 0 1.5rem 0;
  margin: 0;
}

nav ul .link {
  display: inline;
  font-size: 1.1rem;
}

nav ul .link {
  text-decoration: none;
  color: black;
  margin: 1rem;
}

nav ul .link:hover {
  text-decoration: underline;
}

/* Submmenu */

.submenu {
  position: relative;
  cursor: default;
}

.submenu ul {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(124, 255, 200);
  padding: 1rem;
}

.submenu span {
  margin: 1rem;
}

.submenu:hover ul {
  display: block;
}

.submenu ul {
  border: 1px solid dimgrey;
}

.submenu ul .link {
  display: block;
  position: relative;
  margin: 5px 15px 10px 10px;
}

.submenu ul .link {
  margin: 0;
}

/* Logo */

.logo {
  margin-top: 0.5rem;
}

@media screen and (max-width: 650px) {
  .logo {
    display: none;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo a {
  text-decoration: none;
  color: rgb(0 114 225);
}

.logo-brand {
  font-weight: bold;
}
