footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 60px;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1.5rem;
}

footer p {
  margin: 0;
}
