html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 245);
  height: 1200px;
}

.container {
  position: relative;
  display: block;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

main {
  padding-top: 50px;
}
