html {
  height: 100%;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  --bg-color: linear-gradient(
    90deg,
    rgba(6, 40, 0, 1) 4%,
    rgba(53, 116, 28, 1) 25%,
    rgba(128, 159, 36, 1) 50%,
    rgba(53, 116, 28, 1) 75%,
    rgba(0, 38, 7, 1) 97%
  );
  --text-color: rgb(255, 255, 255);
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.container {
  position: relative;
  display: block;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
}
