.item-count {
  padding: 1rem;
}

.item-count-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-count-number {
  color: var(--text-color);
  font-size: 1.1rem;
  color: black;
}

.item-count-number-wrapper {
  width: 10px;
}
