.cart-container {
  background: var(--bg-color);
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.cart-container ul li {
  display: block;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.cart-container ul li div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.cart-list {
  flex-grow: 3;
}

.cart-form {
  background-color: rgb(78, 149, 211);
  padding: 1rem;
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 250px;
}

.cart-info {
  text-align: center;
}

.cart-img {
  height: 80px;
  width: 100px;
}

.cart-img img {
  width: 100%;
  height: auto;
}

.cart-li {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
}

button {
  color: red;
  cursor: pointer;
}
