ul {
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
  margin: 1rem;
}

.item-list-link {
  text-decoration: none;
}

.itemlist-spinner {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
